.ccls-cache/
.clangd/
.cache/
.git/
.vim/
tests/
MomentumWm
compile_commands.json
startServer
TODO
xinitrc
err.txt
log
nvim.core
tests/a.out
MomentumWm.core
menu
all.txt
element.c
element.h
tests/a.out
